variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay

deploy_production:
  stage: deploy
  image: docker:git
  services:
    - docker:dind
  tags:
    - production
  only:
    refs:
    - tags
    - triggers
    - master
  when: manual
  before_script:
    - apk add --no-cache docker-compose
  script:
    - docker-compose up -d
